.custom-border {
	border-bottom: 1px solid #e5e7eb;
	border-top: 1px solid #e5e7eb;
	padding-top: 0.1rem;
	padding-bottom: 0.1rem;
}

.subscription-container {
	padding: 1.5rem;
	font-family: "Inter", sans-serif;
}

.subscription-cards {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row !important;
	gap: 1.5rem;
	margin-top: 2rem;
	justify-content: center;
}

.subscription-card {
	width: 560px;
	border-radius: 20px;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
	padding: 0.8rem !important;
	overflow: hidden;
	border: 1px solid #e2e8f0;
	transition:
		transform 0.3s ease,
		box-shadow 0.3s ease,
		border-color 0.3s ease,
		background-color 0.3s ease;
	background-color: #fff;
}

.expanded-button {
	color: #ffa726 !important;
	font-weight: bold !important;
}

.subscription-card:hover {
	transform: translateY(-5px) scale(1.03);
	box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
	border-color: #ffa726;
	background-color: #f9f9f9;
}

.cursor-not-allowed {
	cursor: not-allowed !important;
}

.subscription-card .p-card-body {
	padding: 0;
}

.subscription-card .p-card-content {
	padding: 0;
}

.plan-header {
	background-color: #ffa726;
	padding: 1.5rem;
	position: relative;
	border-radius: 100px;
	margin: 10px 10px;
	color: white;
	height: 10rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.plan-title-container {
	position: absolute;
	background-color: #004d40;
	color: white;
	padding: 0.5rem 1.5rem;
	border-radius: 20px;
	font-weight: bold;
	top: -8%;
	left: 0%;
	font-size: 1rem;
	width: auto;
}

.plan-description {
	font-size: 1rem;
	max-width: 70%;
	line-height: 1.4;
	margin-top: 12px;
	margin-left: 3%;
}

.price-circle {
	position: absolute;
	right: 20px;
	top: 50%;
	transform: translateY(-50%);
	background-color: white;
	width: 90px;
	height: 90px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.price-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	line-height: 1;
}

.dollar-sign {
	font-size: 1rem;
	font-weight: bold;
	color: #004d40;
	position: absolute;
	top: 10px;
	text-align: center;
}

.price {
	font-size: 1.5rem;
	font-weight: bold;
	color: #004d40;
}

.per-month {
	font-size: 0.65rem;
	color: #004d40;
	margin-top: 5px;
	text-align: center;
}

.features-list {
	padding: 0;
	height: 420px;
	transition: all 0.3s ease-in-out;
	overflow: auto;
}

.clamp-2-lines {
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}

.feature-column {
	flex: 1;
}

.feature-row {
	display: flex;
	align-items: center;
	padding: 1rem 1.5rem;
	border-bottom: 1px solid #f1f1f1;
}

.feature-row.alternate {
	background-color: #f8f8f8;
}

.feature-check {
	margin-right: 1rem;
	color: #004d40;
	font-size: 1.2rem;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 24px;
	height: 24px;
}

.feature-text {
	font-size: 1rem;
	color: #333;
}

.subscription-actions {
	padding: 1.5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.subscribe-button {
	background-color: #004d40;
	color: white;
	border: none;
	border-radius: 30px;
	padding: 1rem;
	font-size: 1.1rem;
	font-weight: bold;
	width: 100%;
	cursor: pointer;
	transition: background-color 0.3s;
	box-shadow: 0 4px 10px rgba(0, 77, 64, 0.3);
}

.subscribe-button:hover {
	background-color: #00695c;
}

.cancel-info {
	margin-top: 1rem;
	text-align: center;
}

.cancel-text {
	color: #ffa726;
	font-weight: bold;
	margin-bottom: 0.5rem;
}

.reminder-text {
	font-size: 0.85rem;
	color: #666;
}

@media (max-width: 1024px) {
	.subscription-cards {
		flex-direction: column;
		align-items: center;
	}

	.subscription-card {
		width: 100%;
		max-width: 500px;
	}
}

@media (min-width: 1000px) and (max-width: 1500px) {
	.subscription-card {
		width: 492px;
		border-radius: 20px;
		box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
		padding: 0.8rem !important;
		overflow: hidden;
		border: 1px solid #e2e8f0;
		transition:
			transform 0.3s ease,
			box-shadow 0.3s ease,
			border-color 0.3s ease,
			background-color 0.3s ease;
		background-color: #fff;
	}
	.features-list {
		padding: 0;
		height: 460px;
		transition: all 0.3s ease-in-out;
		overflow: auto;
	}
}

@media (max-width: 600px) {
	.plan-description {
		max-width: 60%;
	}

	.price-circle {
		width: 80px;
		height: 80px;
	}
}
