.custom-border {
	border-bottom: 1px solid #e5e7eb;
	border-top: 1px solid #e5e7eb;
	padding-top: 0.1rem;
	padding-bottom: 0.1rem;
}

.subscription-container {
	padding: 1.5rem;
	font-family: "Inter", sans-serif;
}

.subscription-cards {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 1.5rem;
	margin-top: 1.5rem;
	justify-content: center;
}

.subscription-card {
	width: 33vw;
	border-radius: 20px;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
	padding: 0 !important;
	overflow: hidden;
	border: 1px solid #e2e8f0;
	transition:
		transform 0.3s ease,
		box-shadow 0.3s ease,
		border-color 0.3s ease,
		background-color 0.3s ease;
	background-color: #fff;
	margin-top: 30px;
}

.subscription-card:hover {
	transform: translateY(-5px) scale(1.03);
	box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
	border-color: #ffa726;
	background-color: #f9f9f9;
}

.subscription-card .p-card-body {
	padding: 0;
}

.subscription-card .p-card-content {
	padding: 15;
}

.plan-header {
	background-color: #ffa726;
	padding: 1.5rem;
	position: relative;
	border-radius: 40px;
	margin: 15px 15px;
	color: white;
	min-height: 100px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.plan-headers {
	background-color: #ffa726;
	padding: 1.5rem;
	position: relative;
	border-radius: 40px;
	margin: 15px 15px;
	color: white;
	min-height: 100px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.card-headers {
	background-color: #ffa726;
	border-radius: 20px;
	color: white;
	width: 25vw;
	height: 40%;
	margin-top: 35px;
	margin-left: 30px;
	padding-left: 30px;
}
/*  */
.plan-title-container {
	position: absolute;
	background-color: #004d40;
	color: white;
	padding: 0.5rem 1.5rem;
	border-radius: 20px;
	font-weight: bold;
	top: -8%;
	left: 0%;
	font-size: 1rem;
	width: auto;
}

.plan-description {
	font-size: 1rem;
	max-width: 70%;
	line-height: 1.4;
}

.plan-descriptions {
	font-size: 1rem;
	width: 150%;
	align-items: center;
}

.subscription-actions {
	padding: 1.5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.subscribe-button {
	background-color: #004d40;
	color: white;
	border: none;
	border-radius: 30px;
	padding: 1rem;
	font-size: 1.1rem;
	font-weight: bold;
	width: 100%;
	cursor: pointer;
	transition: background-color 0.3s;
	box-shadow: 0 4px 10px rgba(0, 77, 64, 0.3);
}

.update-card-button {
	background-color: white;
	color: #ffa726;
	font-weight: bold;
	margin-bottom: 0.5rem;
	padding: 1rem;
	font-size: 1rem;
	font-weight: bold;
	cursor: pointer;
	border: none;
	width: 12vw;
	border-radius: 12px;
	margin-bottom: 25px;
	margin-right: 20px;
}

.subscribe-button:hover {
	background-color: #00695c;
}

.cancel-info {
	margin-top: 1rem;
	text-align: center;
}

.cancel-subscribed-text {
	background-color: white;
	color: #ffa726;
	font-weight: bold;
	margin-bottom: 0.5rem;
	padding: 1rem;
	font-size: 1rem;
	font-weight: bold;
	cursor: pointer;
	border: none;
	width: 12vw;
	border-radius: 12px;
	margin-bottom: 25px;
	margin-right: 20px;
}
.cancel-text :active {
	color: #ffa726;
	font-weight: bold;
	margin-bottom: 0.5rem;
	background-color: transparent;
	border: none !important;
}

.reminder-text {
	font-size: 0.85rem;
	color: #666;
}

@media (max-width: 1024px) {
	.subscription-cards {
		flex-direction: column;
		align-items: center;
	}

	.subscription-card {
		width: 100%;
		max-width: 500px;
	}
}

@media (max-width: 600px) {
	.plan-description {
		max-width: 60%;
	}

	.price-circle {
		width: 80px;
		height: 80px;
	}
}
