.auth-layout-wrapper {
	position: relative;
	display: flex;
	min-height: 100vh;
	overflow: hidden;
}

.auth-layout-wrapper::before {
	content: "";
	position: absolute;
	inset: 0;
	background-image: url("../../assets/backgroundImage.png");
	background-size: cover;
	background-position: center;
	opacity: 0.1;
	z-index: 0;
}

.auth-layout-wrapper > * {
	position: relative;
	z-index: 1;
}
